<extend name="template/template" />

<block name="css">
	<style type="text/css">
		#usercenterbox{width:100%;}
	</style>
</block>

<block name="content">

  <body>
    
    <div class="usercenter user_index" id="userc">   
        <div class="panel usercenter-box open left-move" id="usercenterbox">
            <div class="list">
                <a class="item" href="#">
                	<if condition="$userInfo.headimgurl neq ''">
                		<img src="{$userInfo.headimgurl}" class="imghead">
                	<else />
                		<img src="__PUBLIC__/images/head.jpg" class="imghead">
                	</if>
                    
                    <img src="__PUBLIC__/images/tao.gif" class="item-icon margin-left">{$userInfo.nickname}
                </a>
                <a class="item" href="{:UC('Wechat/User/orderDetail')}">
                    <img src="__PUBLIC__/images/jianping.gif" class="item-icon"> 我的订单
                </a>
                <a class="item" href="{:UC('Wechat/User/coupon')}">
                    <img src="__PUBLIC__/images/youhuij.gif" class="item-icon"> 我的优惠券
                </a>               
            </div>
        </div>
    </div>

  </body>
</block>

<block name="script">
	<script>
	   
	      
	
	    
	
	</script>
</block>

