<extend name="template/template" />

<block name="css">
	<style type="text/css">
		.fiximg{width:60%;margin-left:20%;}
	</style>
</block>

<block name="content">

  <body>
    <volist name="orderSn" id="vo">
    	<div class="panel margin-top">
	        <p class="text">票号 <span class="field-value">{$vo.ticket_sn}</span></p>	       
	        <hr>
	        <p class="text">扫码入场</p>
	        <img src="{$vo.qrurl}" class="fiximg">
	        <p class="text">单价：￥{$vo.t_price}</p>
	        <p class="text">状态：{$vo.statusName}</p>
	        <p class="text">有效时间至：{$vo.expiry_date}</p>
    	</div>
    </volist>

    <div class="margin-top30"></div>
    <div class="sharehelp-box activity-sharebox">
        <span>越分享越优惠，越分享越快乐</span>
    </div>
    
    <div class="helpbox margin-top30">
        <span class="noallowitem text-help"><img src="__PUBLIC__/images/cha.gif" width="16px">不支持退票</span>
        <span class="noallowitem text-help"><img src="__PUBLIC__/images/cha.gif" width="16px">不支持更换场馆</span>
    </div>


    <div class="mask share-mask hide">
        <p class="container share-mask-text">
            <img src="__PUBLIC__/images/share_img.png" class="centimg">
            <img src="__PUBLIC__/images/share_icon2.png" class="sharedire">
            点击右上角<br>
            发送给好友 或 分享到朋友圈
        </p>
    </div>

  </body>
</block>

<block name="script">
	<script>
	   $(".sharehelp-box").click(function(){
            $(".share-mask").removeClass("hide");
        });

        $(".share-mask").click(function(){
            $(".share-mask").addClass("hide");
        });
	</script>
</block>

