<extend name="template/template" />

<block name="css">
	<style type="text/css">
		.fiximg{width:60%;}
	</style>
</block>

<block name="content">

  <body>
    <volist name="orderSn" id="vo">
    	<div class="panel margin-top">
	        <p class="text">票号 <span class="field-value">{$vo.ticket_sn}</span></p>	       
	        <hr>
	        <p class="text">扫码入场</p>
	        <img src="{$vo.qrurl}" class="fiximg">
	        <p class="text">单价：￥{$vo.t_price}</p>
	        <p class="text">状态：{$vo.statusName}</p>
	        <p class="text">有效时间至：{$vo.expiry_date}</p>
    	</div>
    </volist>
    
    <div class="helpbox margin-top30">
        <span class="noallowitem text-help"><img src="__PUBLIC__/images/cha.gif" width="16px">不支持退票</span>
        <span class="noallowitem text-help"><img src="__PUBLIC__/images/cha.gif" width="16px">不支持更换场次</span>
    </div>

    <div class="sharehelp-box activity-sharebox">
        <span>点击右上角 分享更多好友</span><img src="__PUBLIC__/images/jiantao.png" width="50px">
    </div>

  </body>
</block>

<block name="script">
	<script>
	   
	</script>
</block>

