<extend name="template/template" />

<block name="css">
    <style type="text/css">
        
    </style>
</block>

<block name="content">

  <body>
    
   <div class="couponlist">
      <volist name="list" id="info">
      
      	<if condition="$info['status'] eq 0">
      		<a class="panel margin-top orderinfo" href="{:UC('Wechat/Ticket/sureOrder',array('order_id'=>$info['id']))}" >
      	<else />
      		<a class="panel margin-top orderinfo" href="{:UC('Wechat/User/orderDetail',array('order_id'=>$info['id']))}" >
      	</if>
        
          <p class="orderinfo-topinfo">
            <span class="ordertime">{$info['add_time']|date="Y-m-d H:i:s",###}</span>
            <span class="orderno">订单号：{$info['sn']}</span>
          </p>
          <h3 class="goodsname">魔乐城场馆体验票 {$info['amount']} 份</h3>
          <p class="areaname">魔乐城场馆 {$info['venuesName']}</p>
          <p class="orderinfo-bottom">
            <span class="pricesp">总价：<strong>{$info['third_party_pay']}元</strong></span>
            <if condition="$info['status'] eq 0">
              <span class="orderstate enable">待付款</span>
              <else/>
              <span class="orderstate disable">已支付</span>
            </if>
          </p>
        </a>
      </volist>
    </div>

    <div class="helpbox text-guide margin-top30">没有更多订单了</div>

  </body>
</block>

<block name="script">
    <script>
       
    </script>
</block>

