<extend name="template/template" />

<block name="css">
    <style type="text/css">
       
    </style>
</block>

<block name="content">
<body>
    
    <a href="#" class="coupontopbtn">恭喜您领取到2张魔乐城（成都洛带店）的优惠劵，请点击关注我们公众号购票吧！ </a>
    <a href="#" class="coupontopbtn">请点击去购票吧！ </a>
    <div class="couponlist">
        <volist name="list" id="info">
        <a class="panel margin-top couponinfo" href="{:UC('Wechat/Ticket/tickeList')}">
            <h3>{$info['title']}</h3>
            <span class="text-help">有效期：{$info['begin_time']|date="Y.m.d",###} - {$info['end_time']|date="Y.m.d",###}</span>
            <div class="coupon <if condition="$info['status'] eq 0">notuse<else/>used</if>"><span class="unit">￥</span>{$info['price']}</div>
        </a>
        </volist>
    </div>

    <div class="helpbox text-guide margin-top30">没有更多可用券了</div>
    <p class="ticketlist-moreinfo"><a href="{:UC('Wechat/Ticket/tickeList')}">去购票？</a></p>

</body>
</block>

