<extend name="template/template" />

<block name="css">
    <style type="text/css">
       
    </style>
</block>
<block name="script">
    <script type="text/javascript">
        $(".helpboxbtn").click(function(){
            showHelp();
        });

        $(".mask-close").click(function(){
            hideHelp();
        });

        function showHelp(){
            $(".default-mask").removeClass("hide");
        }

        function hideHelp(){
            $(".default-mask").addClass("hide");
        }
    </script>
    
</block>
<block name="content">
<body>
    
    
    <div class="couponlist">

        <if condition="($subscribe eq 0) and (count($list) gt 0)">
            <a href="javascript:" class="coupontopbtn helpboxbtn"><if condition="$isTip eq 1">恭喜您领取了优惠券，</if>请点击关注我们公众号购票吧！ </a>
        </if>
        <if condition="($subscribe eq 0) and (count($list) eq 0)">
            <a href="javascript:" class="coupontopbtn helpboxbtn">暂无优惠卷送您，请点击关注我们公众号参与活动获取吧！</a>
        </if>
        <if condition="$subscribe eq 1">
            <a href="{:UC('Wechat/Ticket/tickeList')}" class="coupontopbtn"><if condition="$isTip eq 1">恭喜您领取了优惠券，</if>请点击去购票吧！ </a>
        </if>
        

        <volist name="list" id="info">
        <if condition="$subscribe eq 0">
            <a class="panel margin-top couponinfo helpboxbtn" href="javascript:">
            <else/>
            <a class="panel margin-top couponinfo" href="{:UC('Wechat/Ticket/tickeList')}">
        </if>
            <h3>{$info['title']}</h3>
            <span class="text-help">有效期：{$info['begin_time']|date="Y.m.d",###} - {$info['end_time']|date="Y.m.d",###}</span>
            <div class="coupon <if condition="$info['status'] eq 0">notuse<else/>used</if>"><span class="unit">￥</span>{$info['price']}</div>
        </a>
        </volist>
    </div>

    <div class="margin-top30"></div>
    <div class="sharehelp-box">
        <span>越分享越优惠，越分享越快乐</span>
    </div>

    <div class="helpbox text-guide margin-top30">没有更多可用券了</div>
    <!--<p class="ticketlist-moreinfo"><a href="{:UC('Wechat/Ticket/tickeList')}">去购票？</a></p>-->

    <div class="mask share-mask hide">
        <p class="container share-mask-text">
            <img src="__PUBLIC__/images/share_img.png" class="centimg">
            <img src="__PUBLIC__/images/share_icon2.png" class="sharedire">
            点击右上角<br>
            发送给好友 或 分享到朋友圈
        </p>
    </div>

    <div class="mask default-mask hide">
        <a href="javascript:" class="mask-close"><img src="__PUBLIC__/images/cha.png" width="50px"></a>
        <p class="container text-nomal-box">
            <div class="guanzhutext">
                <img src="__PUBLIC__/images/qrcode.jpg">
                <br>长按此二维码，点击“识别二维码”即可关注。
            </div>
            
        </p>
    </div>

    <script type="text/javascript">
        $(".sharehelp-box").click(function(){
            $(".share-mask").removeClass("hide");
        });

        $(".share-mask").click(function(){
            $(".share-mask").addClass("hide");
        });
    </script>

</body>
</block>

