<extend name="template/template" />

<block name="css">
    <style type="text/css">
       
    </style>
</block>

<block name="content">
<body>
    <div class="banner">
        <img src="__PUBLIC__/images/baijing.gif">
    </div>

    <if condition="$errormsg">
        <div class="pop">
            <span class="poptext">{$errormsg}</span>
        </div>
    </if>
    

    <div class="lingqu">
        <img src="__PUBLIC__/images/head.jpg" class="lingqu-head">
        <p class="lingqu-welcome">Hi,我是魔乐城新用户</p>
        <p class="lingqu-gifttext">送你<strong>50元</strong>魔乐城大礼包</p>

        <form action="" method="post">
            <input type="input" class="lingqu-phonebox" name="phone" placeholder="输入手机号">
            <input type="submit" value="领取优惠券" class="btn-block">
        </form>
    </div>

  </body>
</block>

