<extend name="template/template" />

<block name="css">
    <style type="text/css">
       
    </style>
</block>

<block name="content">
<body>
    <div class="banner">
        <img src="__PUBLIC__/images/baijing.gif">
    </div>

    <if condition="$msg">
        <div class="pop">
            <span class="poptext">{$msg}</span>
        </div>
        <script type="text/javascript">
        setTimeout(function(){
            $('.pop').addClass('hide');
        },4000);
        </script>
    </if>
    

    <div class="lingqu">
        <img src="{$userinfo['headimgurl']}" class="lingqu-head">
        <p class="lingqu-welcome">Hi,你是魔乐城新用户</p>
        <p class="lingqu-gifttext">送你<strong>20元</strong>大礼包</p>
        <p class="lingqu-lighttext">（越分享越多优惠哦）</p>

        <form action="" method="post">
            <input type="input" class="lingqu-phonebox" name="phone" placeholder="请输入手机号">
            <input type="submit" value="领取优惠券" class="btn-block">
        </form>
    </div>

  </body>
</block>

