<extend name="template/template" />

<block name="css">
	<style type="text/css">
	   
	</style>
</block>

<block name="content">

  <body class="index-container">
    <div>
 		<a href="javascript:" class="index-menubtn"><img src="__PUBLIC__/images/tao3.png" width="30px" onclick="showUserCenter()"></a>
        <h1 class="index-title">魔乐城</h1>
        <h3 class="index-titlemore">Molo Vision</h3>
        <p class="index-desc">穿越“时空裂缝”情境体验馆门票</p>

        <div class="index-price">￥99</div>

        <div class="index-btngroup">
            <div class="index-btn">
                <a href="{:UC('Wechat/Ticket/tickeList')}" class="btn-block">立即购买</a>
            </div> 
            <div class="index-btn">
                <a href="javascript:" class="btn-block blue" id="helpbox">了解详情</a>
            </div>
        </div>
    </div>
    
    <div class="usercenter hide" id="userc">
        <a href="javascript:" class="closebtn"><img src="__PUBLIC__/images/cha.png" width="45px" onclick="hideUserCenter()"></a>
        <div class="panel usercenter-box close left-move" id="usercenterbox">
            <div class="list">
                <a class="item" href="javascript:">
                    <img src="{$userinfo['headimgurl']}" class="imghead">
                    <img src="__PUBLIC__/images/tao.gif" class="item-icon margin-left"> {$userinfo['nickname']}
                </a>
                <a class="item" href="#">
                    <img src="__PUBLIC__/images/guanpiao.gif" class="item-icon"> 我的馆场券
                </a>
                <a class="item" href="<?php echo UC('Wechat/Coupon/index');?>">
                    <img src="__PUBLIC__/images/youhuij.gif" class="item-icon"> 我的优惠券
                </a>
                <a class="item" href="<?php echo UC('Wechat/Recommend/index');?>">
                    <img src="__PUBLIC__/images/jianping.gif" class="item-icon"> 推荐有奖
                </a>
                <a class="item" href="#">
                    <img src="__PUBLIC__/images/scheng.gif" class="item-icon"> 魔乐城商城
                </a>
                <a class="item" href="#">
                    <img src="__PUBLIC__/images/szhi.gif" class="item-icon"> 设置
                </a>
            </div>
        </div>
    </div>

    <div class="mask default-mask hide">
        <a href="javascript:" class="mask-close"><img src="__PUBLIC__/images/cha.png" width="50px"></a>
        <p class="container text-nomal">
            {$activity_text}
        </p>
    </div>

  </body>
</block>

<block name="script">
	<script>
	   
		function showUserCenter(){
	        var box = document.getElementById("userc");
	        removeClass(box,"hide");
	        setTimeout(function(){
	            var el = document.getElementsByClassName("usercenter-box");
	            removeClass(el[0],"close");
	            addClass(el[0],"open");
	        },100);
	    }
	
	    function hideUserCenter(){
	        setTimeout(function(){
	            var box = document.getElementById("userc");
	            addClass(box,"hide");
	        },100);
	        var el = document.getElementsByClassName("usercenter-box");
	        removeClass(el[0],"open");
	        addClass(el[0],"close");
	        
	    }
	
	    function hasClass(obj, cls) {
	        return obj.className.match(new RegExp('(\\s|^)' + cls + '(\\s|$)'));
	    }
	
	    function addClass(obj, cls) {
	        if (!this.hasClass(obj, cls)) obj.className += " " + cls;
	    }
	
	    function removeClass(obj, cls) {
	        if (hasClass(obj, cls)) {
	            var reg = new RegExp('(\\s|^)' + cls + '(\\s|$)');
	            obj.className = obj.className.replace(reg, ' ');
	        }
	    }
	
	    function toggleClass(obj,cls){
	        if(hasClass(obj,cls)){
	            removeClass(obj, cls);
	        }else{
	            addClass(obj, cls);
	        }
	    }

        $("#helpbox").click(function(){
            showHelp();
        });

        $(".mask-close").click(function(){
            hideHelp();
        });

        function showHelp(){
            $(".default-mask").removeClass("hide");
        }

        function hideHelp(){
            $(".default-mask").addClass("hide");
        }
	
	</script>
</block>

