body{background: #eee;padding-bottom: 10px;}
*{font-family: "微软雅黑";}
*,
*:before,
*:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
a{color: #000;text-decoration: none;}

.margin-top{margin-top: 10px;}
.margin-top30{margin-top: 30px;}
.margin-left{margin-left: 10px;}
.margin-right{margin-right: 10px;}
.margin-bottom{margin-bottom: 10px;}
.margin-left30{margin-left: 30px;}
.margin-left{margin-left: 10px;}
.pull-left{float: left !important;}
.pull-right{float: right !important;}
.fiximg{width: 100%;}
.hide{display: none !important;}
.block{display: block;}

.btn-block{display: block;width: 100%;padding: 10px;background: #ff6600;border:none;margin: 0 auto;border-radius: 5px; color: #fff;text-align: center;}
.btn-block.blue{background: #599ef4;}
.btn-block.white{background: #eee;border: 2px solid #ff6600; color: #ff6600;}
.helpbox{text-align: center;}
.container{padding: 15px;}

.mask{position: fixed;width: 100%;height: 100%;background:rgba(0,0,0,0.8);background:#000\9;top:0;left:0;filter:alpha(opacity=20)\9;}
.mask .text-nomal-box{overflow: scroll;position: absolute;bottom: 80px; top: 80px;font-size: 14px;font-weight: normal;color: #fff;}
.mask .mask-close{position: absolute;right: 10px;top: 10px;display: block;}

.panel{display: block;background: #fff;padding: 20px 20px;}
.panel h3{margin: 0;line-height: 35px;}
.text{font-size: 16px;font-weight: normal;}
.text-nomal{font-size: 14px;font-weight: normal;color: #fff;}
.text-help{font-size: 12px;color: #333;}
.text-guide{font-size: 12px;color: #aaa;}
.text-guide > img{vertical-align: top;margin-right: 5px;}
.moretext{color: #ff6600;}
.box-title{font-size: 14px;margin-left: 25px;font-weight: lighter;}

.banner img{width: 100%;}
.tuijian-info{padding: 25px;vertical-align: top;}
.tuijiantext{display: table-row;}
.tuijian-info img{width: 80px; border-radius: 80px; display: table-cell;}
.tuijian-info span{font-size: 14px; vertical-align: middle;display: table-cell;padding-left: 10px;}
.sharehelp-box{text-align: center;color: #ff6600;}
.sharehelp-box img{margin-left: 10px;position: absolute;margin-top: -30px;}

.field-value{margin-left: 30px; color: #ff6600;}
.noallowitem{padding: 0 15px;}
.noallowitem img{vertical-align: text-top;margin-right: 5px;}

.lingqu{padding: 0 50px;}
.lingqu-head{width: 80px;border-radius: 80px;display: block;margin: 0 auto;}
.lingqu-welcome{text-align: center;}
.lingqu-gifttext{font-size: 24px; text-align: center;}
.lingqu-gifttext strong{color:#ff6600; font-size: 32px; }
.lingqu-phonebox{display: block;width: 100%; margin: 25px auto;height: 40px; text-align: center;border: 1px solid #ccc;}

.bg{position: fixed;z-index: -1; background:url(../images/beijing3.gif) no-repeat; width: 100%;height: 100%; background-size: 100%;}
.index-container{background:url(../images/bg.jpg) no-repeat;background-size: 100%;padding: 20px;}
.index-menubtn{display: block;width: 50px;}
.index-title{margin:0;margin-top: 30px;color: #ff6600;text-align: center;font-size: 56px;}
.index-titlemore{margin: 0;margin-top: 5px;text-align: center;color: #fff;font-size: 24px;}
.index-desc{margin-top: 50px;color: #fff;text-align: center;}
.index-price{background:url(../images/gang.png) no-repeat; height: 110px;background-size: 100%;text-align: center;line-height: 110px;font-size: 50px;color: #fff;}
.index-btngroup{margin-top: 350px;}
.index-btn{display: inline-block;width: 49%;}


.pop{display: block;position: fixed;text-align: center;width: 100%;}
.pop .poptext{background:rgba(0,0,0,0.5);background:#000\9;filter:alpha(opacity=20)\9;padding: 10px 20px;color: #fff;border-radius: 15px;}

.pop-old{display: block;position: fixed;text-align: center;width: 100%; margin-top:-500px;
animation: myfirst 5s;
-moz-animation: myfirst 5s; /* Firefox */
-webkit-animation: myfirst 5s;  /* Safari 和 Chrome */
-o-animation: myfirst 5s;   /* Opera */}
.pop-old .poptext{background:rgba(0,0,0,0.5);background:#000\9;filter:alpha(opacity=20)\9;padding: 10px 20px;color: #fff;border-radius: 15px;}

@keyframes myfirst
{
0%   {margin-top: -500px;}
25%  {margin-top: 0;}
50%  {margin-top: 0;}
95%  {margin-top: -500px;}
100% {margin-top: -600px;}
}

.maintext{text-align: center;font-weight: normal;}
.mainprice{font-size: 30px;color: #ff6600; text-align: right;margin: 10px;}
.selectarea{width: 100%;padding: 10px 10px 20px 10px;border:none;border-bottom: 1px solid #ccc;-webkit-appearance:listbox; -moz-appearance:listbox;}
.selectnum{margin-top: 10px;padding: 0 10px;}
.numer{display: inline-block;}
.numer .minus,.numer .plus{border: 1px solid #ccc;width: 35px;height: 33px;text-align: center; line-height: 33px;display: inline-block;}
.numer .minus{margin-right: -6px;}
.numer .plus{margin-left: -5px;}
.numer .numval{width: 40px;margin: 0; border: 1px solid #ccc;height: 33px;line-height: 33px;vertical-align: top;text-align: center;}

.payicon{width: 25px;vertical-align: text-top;margin-right: 10px;}
.couponlist{padding: 10px;}
.couponinfo{height: 100px;}
.couponinfo .coupon{position: absolute;right: 9px;width: 100px;height: 100px;margin-top: -74px;line-height: 80px;text-align: center;font-size: 35px;color: #fff;}
.couponinfo .coupon.notuse{background: url(../images/youhuijuan1.gif);background-size: 100%;}
.couponinfo .coupon.used{background: url(../images/youhuijuan2.gif);background-size: 100%;}
.couponinfo .coupon .unit{font-size: 16px;}

.usercenter{background:rgba(255,255,255,0.3);background:#000\9;filter:alpha(opacity=20)\9; position: fixed;width: 100%;height: 100%;top: 0;left: 0;}
.closebtn{right: 10px;top: 10px;position: fixed;z-index: 2;}
.usercenter-box{width: 300px;height: 100%;}
.imghead{width: 80px;border-radius: 80px;vertical-align: middle;}
.item-icon{max-width: 15px;max-height: 15px;}
.usercenter-box.open{
    margin-left: 0;
}
.usercenter-box.close{
    margin-left: -300px;
}
.left-move {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.list{display: block;}
.list .item{padding: 20px 0;border-bottom: solid 1px #ccc; display: block;}
.list .item .item-icon{vertical-align: middle;margin-right: 15px;}

.orderinfo{display: block;}
.orderinfo-topinfo{color: #666;font-size: 12px;margin-top: -5px;}
.orderno{float: right;}
.orderinfo h3{margin: 5px 0;}
.orderinfo p {margin: 0;}
.orderinfo-bottom{padding-top:20px;}
.pricesp strong{color:#ff6600; }
.orderstate{float: right; font-size: 25px;margin-top: -10px;}
.orderstate.enable{color: #73ae1f;}
.orderstate.disable{color: #666;}

.activity-imgbox{width: 100%;}
.activity-imgbox img{width: 100%;}
.activity-btns{padding: 0 20px;position: fixed;bottom: 60px; left: 0;width: 100%;}
.activity-btn{display: inline-block;width: 49%;}
.activity-sharebox{margin-top: 20px;}
.activity-sharebox img{width: 20px;position: relative;}
.fixedp{position: fixed;bottom: 30px; width: 100%;left: 0;}

.spacelist{}
.space-item{display: block;background: #fff;margin-top: 10px;padding: 10px 20px;border: 1px solid #ccc;border-radius: 5px;}
.space-item:before{content: " ";display: inline-block;width: 5px;height: 43px;background: #ff6600;position: absolute;margin-top: -11px;margin-left: -20px;}
.space-item:after{content: "》";display: inline-block;float: right;color: #666;}

.ticketlist-banner > img{width: 100%;}
.ticketlist-list{width: 100%;}
.ticketlist-item .item-icon{width: 10px;position: absolute;margin-top: 18px;}
.ticketlist-moreinfo{text-align: center;padding: 0 15px;font-size: 12px; color: blue;}
.ticketlist-moreinfo a{color: blue;}
.ticketlist-desc{color: blue;font-size: 12px;position: absolute;left: 10px;margin-top: 15px;}

.lingqu-lighttext{margin: 0;text-align: center;font-size: 12px;margin-top: -15px;}
.order-lookup{font-size: 12px;text-align: right;border-top: 1px solid #eee;padding-top: 5px;margin-bottom: -10px;margin-top: 10px;color: #666;}