<extend name="template" />

<block name="css">
  <style type="text/css">
   
  </style>
</block>

<block name="content">
    <div class="ng-scope">
	    <div class="ng-scope">
	    
			<div class="banner">
				<if condition="$data.logo neq ''">
					<img src="{$data.logo}" alt="" width="100%">
				</if>
			</div>
			
			<div class="actDetail" style="background:none;background-color:#FFE1D1;border:none;">
				<div style="height:60px;">
					<img src="/static/admin/img/title.png" style="margin-top:18px;width:33%;">
				</div>
				<p class="ng-binding">活动时间：06-25 00:06至02-02 23:02<br />活动地区：仅限广州市</p>
				<p>秒杀预定成功后，我们将会在24小时内与您取得联系并安排配送每人紧限一套</p>
			</div>
			
			<div class="actPro">
				<volist name="data.activityDetail" id="vo">
					<img src="/static/admin/img/c_first.png" width="100%" onclick="buyCourse({$data.EventId},{$vo.productId});" />
				</volist>
			</div>
		</div>
	</div>

</block>

<block name="script">
<script>
	function buyCourse(eventid,id){	
		window.location.href="{:UC('Wechat/Share/userInfo')}?productid="+id+'&eventid='+eventid;
	}
</script>
</block>
