<extend name="template" />

<block name="css">
  <style type="text/css">
		body{background-color:#FFFFFF;font-family:Microsoft YaHei;}
		.h_li{border:1px solid #b5b5b5;height:41px;}
		.pay_name{position:absolute;left:50px;margin-top:10px}
		.arrow{width:8px; position: absolute; right: 20px; margin-top: 13px}
  </style>
</block>

<block name="content">
   <ul class="orderInfo">
	<li><span>尊敬的</span><span class="nameInfo">{$order.name}</span><span>先生：</span> </li>
	<li><sapn>您已成功预定</sapn><sapn class="headline">{$order.title}</sapn></li>
	<li><span>数量：</span><span>{$order.amount}套</span></li>
	<li><span>总价：</span><span class="price">￥{$order.third_party_pay}</span></li>
   </ul>
   <div>
   	<ul>
   	  <li class="h_li" onclick="pay({$order.id});">
		 <img src="/static/admin/img/wechat_s.png" width="40px" style="margin-right:10px">
		 <span class="pay_name">微信支付</span>
		 <img src="/static/admin/img/arrow-Left.png" class="arrow">
   	  </li>
   	</ul>
   </div>
	
</block>

<block name="script">
<script>
	function pay(id){
		window.location.href="{:UC('Wechat/Share/doPay')}?id="+id;
	}
</script>
</block>
