
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, inital-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>课程购买</title>
    <link rel="stylesheet" href="/static/admin/css/style.css"> 
    <link rel="stylesheet" href="/static/admin/css/bootstrap.min.css">
    <script src="/static/chat/js/jquery-1.9.1.js"></script> 
    
    <block name="css">
    	<style>
			
		</style>
    </block>
</head>

<body>

<block name="content">
</block>


<block name="script"></block>

</body>
</html>
