<extend name="template" />

<block name="css">
  <style type="text/css">
   	.main{width:90%;margin:0 auto;}
   	.h_input{boder-color:#b5b5b5;border:1px solid #b5b5b5;height:40px;width:100%;}
   	.h_div{margin-top:10px;}
   	.submit{width:100%;height:40px;background:#FF9933;font-size:18px;color:white;}
   	input[placeholder]{font-size:16px;}
  </style>
</block>

<block name="content">
  
	
	<div ui-view="" class="ng-scope"><div class="showcase-form  ng-scope" ng-controller="bookAddressConctroller">
	<input ng-model="myName" type="text" class="form-control ng-pristine ng-untouched ng-valid name" style="margin: 20px 10px; width: 95%" placeholder="请输入收货人姓名">
	<div style="margin: 20px 10px 0px 10px">
		<input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern phone" placeholder="请输入手机号">      
	</div>
	<p style="font-size:15px; margin:0px 0px 0px 7px; height: 20px; color: red"><span ng-bind="phoneNumTest" class="ng-binding"></span></p>
	<div style="margin: 0 20px 20px 20px ">
		<button type="button" class="btn btn-warning btn-block submit">提交</button>
	</div>

</block>

<block name="script">
<script>
	$('.submit').click(function(){
		name = $('.name').val();
		phone = $('.phone').val();
		if(!name) return alert('名字不能为空~！');
		if(!phone) return alert('手机不能为空~！');
		window.location.href="{:UC('Wechat/Share/order')}?productId="+{$productid}+"&name="+name+'&phone='+phone+'&eventId='+{$eventid};
	})
</script>
</block>
