<extend name="template/template" />

<block name="css">
    
</block>

<block name="content">
<body>
    
    <div class="activity-imgbox">
        <img src="__PUBLIC__/{$info['pic']}">
    </div>
    <div class="activity-btns">
        <div class="activity-btn">
            <a href="{:UC('Wechat/Ticket/tickeList')}" class="btn-block">我要购票入场</a>
        </div>
        <div class="activity-btn">
            <a href="{:UC('Wechat/Activity/receive?id='.$_GET['id'])}" class="btn-block white">领取大礼包</a>
        </div>
    </div>

    <div class="sharehelp-box activity-sharebox fixedp">
        <span>点击右上角 分享更多好友</span><img src="__PUBLIC__/images/jiantao.png" width="50px">
    </div>

</body>
</block>

