<extend name="template/template" />

<block name="css">
    
</block>

<block name="content">
<body>
    
    <div class="activity-imgbox">
        <img src="__PUBLIC__/{$info['pic']}">
    </div>
    <div class="activity-btns">
        <div class="activity-btn">
            <a href="{:UC('Wechat/Ticket/tickeList')}" class="btn-block">我要购票入场</a>
        </div>
        <div class="activity-btn">
            <a href="{:UC('Wechat/Activity/receive?id='.$_GET['id'])}" class="btn-block white">领取大礼包</a>
        </div>
        <div class="sharehelp-box activity-sharebox fixedp" style="width:100%;">
            <span>越分享越优惠，越分享越快乐</span>
        </div>
    </div>

    <div class="mask share-mask hide">
        <p class="container share-mask-text">
            <img src="__PUBLIC__/images/wen.png" class="centimg">
            <img src="__PUBLIC__/images/jiantao.png" class="sharedire">
            点击右上角<br>
            发送给好友 或 分享到朋友圈
        </p>
    </div>

    <script type="text/javascript">
        $(".sharehelp-box").click(function(){
            $(".share-mask").removeClass("hide");
        });

        $(".share-mask").click(function(){
            $(".share-mask").addClass("hide");
        });
    </script>

</body>
</block>

