
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>魔乐城</title>
    <link href="__PUBLIC__/css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/app.css?a=17">
    <script src="__PUBLIC__/static/admin/js/jquery-1.9.1.js"></script>
    <script src="__PUBLIC__/static/admin/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/static/admin/js/messages_cn.js"></script>
    <script src="__PUBLIC__/static/admin/layer-v1.9.3/layer.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <style>
        .error{color:red;}
    </style>
    <block name="css"></block>
  </head>

<block name="content">

</block>

<script>
    $(function(){
        //加载扩展模块
        layer.config({
            extend: '/extend/layer.ext.js'
        });
    });
</script>

<script type="text/javascript">
    wx.config(<?php echo $signature;?>);
    wx.ready(function(){
        var share = {
            title: "<?php echo $sharetitle;?>",
            link: "<?php echo $inviteurl;?>", // 分享链接
            desc: "<?php echo $sharedesc;?>",
            imgUrl: "<?php echo $shareimgUrl;?>", // 分享图标
            success: function () {
                $.post("<?php echo UC('Wechat/Recommend/releaseShareCoupon');?>");
                alert("已成功分享");
                window.location.href="<?php echo UC('Wechat/Activity/index',array('id'=>5));?>"; 
            },
            cancel: function () {
                alert("您已取消分享");
            }
        };
        wx.onMenuShareTimeline(share);
        wx.onMenuShareAppMessage(share);
        wx.onMenuShareQQ(share);
        wx.onMenuShareWeibo(share);
    });

</script>

<block name="script"></block>

</html>
