
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>魔乐城</title>
    <link href="__PUBLIC__/css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/app.css">
    <script src="__PUBLIC__/static/admin/js/jquery-1.9.1.js"></script>
    <script src="__PUBLIC__/static/admin/js/jquery.validate.js"></script>
	<script src="__PUBLIC__/static/admin/js/messages_cn.js"></script>
    <script src="__PUBLIC__/static/admin/layer-v1.9.3/layer.js"></script>
    <style>
		.error{color:red;}
	</style>
    <block name="css"></block>
  </head>

<block name="content">

</block>

<script>
	$(function(){
    	//加载扩展模块
    	layer.config({
    	    extend: '/extend/layer.ext.js'
    	});
    });
</script>
<block name="script"></block>

</html>
